.login_button{
    padding:20px;
}
.zx_bgColor{
    background-color:#13227a!important;
    border:none!important;
}
.mgt10{
    margin-top:10px;
}
.tiaokuan{
    display: block;
    float: left;
    padding:10px 0 20px;
    font-size: 28px;
    color:#333;
}
.xy_box{
    padding:0 30px;
}
.bst_xy{
    display:block;
    padding:10px 0 20px;
    float: left;
    color:#13227a;
    font-size: 28px;
}