.container {
  background-color: #f8f8f8;
}

.input_area {
  width:100%;
  height:80px;
  background-color:#fff;
  .ax_input {
    width: 680px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
    background-color: #fff;
  }

  .ax_search {
    position: absolute;
    height: 80px;
    line-height: 80px;
    top: 10px;
    right: 10px;
    color: #13227a;
    z-index: 1;
  }
}
.controls{
  position: absolute;
  top:80vh;
  left:20px;
  .img{
    width: 80px;
    height: 80px;
  }
}