.zx_header{
    width:686px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    .zx_city{
        width:126px;
        text-align:center;
        line-height: 88px;
        font-size: 28px;
    }
    .zx_search{
        width:560px;
        border-radius: 44px;
        overflow: hidden;
    }
}
.zx_content{
    padding:32px;
    .zx_content_item{
        >p{
            color:#a3a3a3;
            font-size: 24px;
            padding:20px;
        }
    }
}
.zx_search_box{
    background: #fff!important;
    padding-left:0!important;
    justify-content: space-between;
    .van-search__field{
        border-bottom:1px solid #ccc;
    }
    ._view{
        width:100rpx;
        border: 1px solid #13227a;
        text-align: center;
        background: #13227a;
        color:#fff;
    }
}