.zx_post {
  padding: 20px;
  background: #fff;

  .zx_post_title {
    color: #000;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 20px;
  }

  .zx_post_sub {
    color: #a3a3a3;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
  }

  .zx_post_detail {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 1px solid #f6f6f6;

    img {
      width: 100%;
    }
  }

  .zx_post_contact {
    font-size: 30rpx;
    width: 100%;

    ul>li {
      width: 100%;
      padding: 10rpx 0;
      display: flex;

      label {
        width: 150rpx;
      }

      span {
        width: calc(100% - 150rpx)
      }
    }
  }
}

.zx_tip {

  .jubao {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

    .jubao-font {
      flex: 1;

      .one-line {
        font-size: 28px;
        line-height: 40px;
        color: red;
      }

      .two-line {
        font-size: 30px;
      }
    }

    .jubao-logo {
      width: 100px;
      color: red;
      font-size: 30px;

      a {
        display: block;
        text-align: center;
      }

      .ico {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url('../../../static/assets/images/jubao.png') no-repeat;
        background-size: 100%;
      }
    }
  }
}

.zx_warn {
  background-color:#fff;
  padding:20rpx;
  font-size: 26px;
  color:#999;
  margin-bottom:20rpx;
  .zx_warn_tit {
    color: #666;
  }
}

.calllink {
  color: #13227a;
  text-decoration: underline;
}

.ax_tabbar {
  color: #666 !important;
}

.loading-box {
  display: flex;
  width: 100%;
  padding-top: 20vh;
  height: 80vh;
  justify-content: center;
  align-content: center;
}

.loading {
  margin: 40px auto;
}

.image_box {
  width: 100%;

  .image {
    width: 100%;
    padding-top: 24px;
  }
}
