.bkgrey{
    background-color:#f6f6f6;
}
.zx_bgColor{
    background-color:#13227a!important;
    color:#fff!important;
    border:none!important;
}
.zx_font{
    font-size:28px;
    color:#333;
}
.zx_button_box{
    padding:10px 30px;
}
.mgt10{
    margin-top:10px;
}
.mgt20{
    margin-top:20px;
}
.mgt30{
    margin-top:30px;
}